@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;
:root{
    --shadow : 0 2px 2px -2px rgba(0,0,0,.2);
    --orangebg : #DC4A2D;
    --greenbg : #067647;
    --greybg : #FCFCFC;
    --deletebtn : #FEF4F2;
    --semigreybg : #D1D1D1;
    --textsemigrey : #3D3D3D;
}
.active{
    background-color: var(--orangebg);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem; 
    color: white;
}
.underlineSection{
    color: var(--orangebg);
}
.underlineSection::after{
    content: '';
    background-color: var(--orangebg);
    width: auto;
    margin-top: 2px;
    height: 2px;
    display: block;
}
.makeShadow{
    box-shadow: var(--shadow);
}
.textSeen{
    color: var(--textsemigrey);
    margin: 0.2rem 0rem;
}
.orangeBullet{
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    position: absolute;
    right: 0;
    background-color: var(--orangebg);
    border-radius: 100%;
}
.greenBullet{
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    right: 0;
    background-color: var(--greenbg);
    border-radius: 100%;
}
.greyBullet{
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    right: 0;
    background-color: var(--semigreybg);
    border-radius: 100%;
}
aside{
    background-color: var(--greybg);
    box-shadow: var(--shadow);
    border: 1px solid #E7E7E7;
}
.deleteBtn{
    width: 100%;
    color: #DC4A2D;
    border-radius: 7px;
    background-color: var(--deletebtn);
    border: 1px solid var(--orangebg);
}
.editBtn{
    width: 100%;
    color: white;
    border-radius: 7px;
    background-color: var(--orangebg);
    border: 1px solid var(--orangebg);
}